[submodule "UnivAI-app"]
	path = UnivAI-app
	url = https://github.com/abdalrahmanalirajab/UnivAI-app
	branch = main
[submodule "UnivAI-exam_system"]
	path = UnivAI-exam_system
	url = https://github.com/AhmedSamirKhalaf/UnivAI-exam_system
	branch = main
[submodule "UnivAI-Agent"]
	path = UnivAI-Agent
	url = https://github.com/AhmeedFatehy/UnivAI-Agent
	branch = temp
[submodule "UnivAI-live"]
	path = UnivAI-live
	url = https://github.com/muhameedhanyyy/UnivAI-live
	branch = main
